WebControlsAndUtils/ControlTest/App_WebReferences/com/w_360buy/www/newsserver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Gethuodong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GethuodongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GethuodongResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getnews">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetnewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetnewsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getnew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="num" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetnewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetnewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getnewslist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getnewslistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getnewslistResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GethuodongSoapIn">
    <wsdl:part name="parameters" element="tns:Gethuodong" />
  </wsdl:message>
  <wsdl:message name="GethuodongSoapOut">
    <wsdl:part name="parameters" element="tns:GethuodongResponse" />
  </wsdl:message>
  <wsdl:message name="GetnewsSoapIn">
    <wsdl:part name="parameters" element="tns:Getnews" />
  </wsdl:message>
  <wsdl:message name="GetnewsSoapOut">
    <wsdl:part name="parameters" element="tns:GetnewsResponse" />
  </wsdl:message>
  <wsdl:message name="GetnewSoapIn">
    <wsdl:part name="parameters" element="tns:Getnew" />
  </wsdl:message>
  <wsdl:message name="GetnewSoapOut">
    <wsdl:part name="parameters" element="tns:GetnewResponse" />
  </wsdl:message>
  <wsdl:message name="getnewslistSoapIn">
    <wsdl:part name="parameters" element="tns:getnewslist" />
  </wsdl:message>
  <wsdl:message name="getnewslistSoapOut">
    <wsdl:part name="parameters" element="tns:getnewslistResponse" />
  </wsdl:message>
  <wsdl:portType name="newsserverSoap">
    <wsdl:operation name="Gethuodong">
      <wsdl:input message="tns:GethuodongSoapIn" />
      <wsdl:output message="tns:GethuodongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getnews">
      <wsdl:input message="tns:GetnewsSoapIn" />
      <wsdl:output message="tns:GetnewsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getnew">
      <wsdl:input message="tns:GetnewSoapIn" />
      <wsdl:output message="tns:GetnewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getnewslist">
      <wsdl:input message="tns:getnewslistSoapIn" />
      <wsdl:output message="tns:getnewslistSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="newsserverSoap" type="tns:newsserverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Gethuodong">
      <soap:operation soapAction="http://tempuri.org/Gethuodong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getnews">
      <soap:operation soapAction="http://tempuri.org/Getnews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getnew">
      <soap:operation soapAction="http://tempuri.org/Getnew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getnewslist">
      <soap:operation soapAction="http://tempuri.org/getnewslist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="newsserverSoap12" type="tns:newsserverSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Gethuodong">
      <soap12:operation soapAction="http://tempuri.org/Gethuodong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getnews">
      <soap12:operation soapAction="http://tempuri.org/Getnews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getnew">
      <soap12:operation soapAction="http://tempuri.org/Getnew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getnewslist">
      <soap12:operation soapAction="http://tempuri.org/getnewslist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="newsserver">
    <wsdl:port name="newsserverSoap" binding="tns:newsserverSoap">
      <soap:address location="http://www.360buy.com/newsserver.asmx" />
    </wsdl:port>
    <wsdl:port name="newsserverSoap12" binding="tns:newsserverSoap12">
      <soap12:address location="http://www.360buy.com/newsserver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>